In [1]:
import seaborn as sns
import numpy as np 
import pandas as pd 
import statistics as sts
import matplotlib.pyplot as plt
from scipy.stats import skew

from sklearn.preprocessing import StandardScaler, MinMaxScaler, PowerTransformer, OrdinalEncoder

In [2]:

df_energy = pd.read_csv('global-data-on-sustainable-energy.csv') #same directory!
df_x = pd.read_csv('energy_environment_economy_sverweis_auf income_region.csv')

In [3]:
df_energy.rename(columns={'Entity' : 'Country Name'}, inplace = True)

In [4]:
df_energy

,Country Name,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),...,Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
0,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,302.59482,1.64,760.000000,NaN,NaN,NaN,60,652230.0,33.939110,67.709953
1,Afghanistan,2001,4.074574,7.2,8.86,130000.0,45.60,0.09,0.0,0.50,...,236.89185,1.74,730.000000,NaN,NaN,NaN,60,652230.0,33.939110,67.709953
2,Afghanistan,2002,9.409158,8.2,8.47,3950000.0,37.83,0.13,0.0,0.56,...,210.86215,1.40,1029.999971,NaN,NaN,179.426579,60,652230.0,33.939110,67.709953
3,Afghanistan,2003,14.738506,9.5,8.09,25970000.0,36.66,0.31,0.0,0.63,...,229.96822,1.40,1220.000029,NaN,8.832278,190.683814,60,652230.0,33.939110,67.709953
4,Afghanistan,2004,20.064968,10.9,7.75,NaN,44.24,0.33,0.0,0.56,...,204.23125,1.20,1029.999971,NaN,1.414118,211.382074,60,652230.0,33.939110,67.709953
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3644,Zimbabwe,2016,42.561730,29.8,62.88,30000.0,81.90,3.50,0.0,3.32,...,3227.68020,10.00,11020.000460,NaN,0.755869,1464.588957,38,390757.0,-19.015438,29.154857
3645,Zimbabwe,2017,44.178635,29.8,62.33,5570000.0,82.46,3.05,0.0,4.30,...,3068.01150,9.51,10340.000150,NaN,4.709492,1235.189032,38,390757.0,-19.015438,29.154857
3646,Zimbabwe,2018,45.572647,29.9,82.53,10000.0,80.23,3.73,0.0,5.46,...,3441.98580,9.83,12380.000110,NaN,4.824211,1254.642265,38,390757.0,-19.015438,29.154857
3647,Zimbabwe,2019,46.781475,30.1,81.40,250000.0,81.50,3.66,0.0,4.58,...,3003.65530,10.47,11760.000230,NaN,-6.144236,1316.740657,38,390757.0,-19.015438,29.154857
3648,Zimbabwe,2020,52.747670,30.4,80.61,30000.0,81.90,3.40,0.0,4.19,...,2680.13180,10.00,NaN,NaN,-6.248748,1214.509820,38,390757.0,-19.015438,29.154857

In [5]:
df_x

,Country Name,Country Code,Region,Income group,Year,Energy use (kg of oil equivalents per capita),Population,CO2 emissions (metric tons per capita),Renewable energy consumption (% of energy),"GDP per capita, PPP",Electric power consumption (kWh per capita),Access to electricity (% of population),Forest area (% of land)
0,Aruba,ABW,Latin America & Caribbean,High income,1990,NaN,62149.0,26.374503,0.268747,24004.825078,NaN,88.445351,2.333333
1,Afghanistan,AFG,South Asia,Low income,1990,NaN,12249114.0,0.213450,15.924532,NaN,NaN,0.010000,2.067825
2,Angola,AGO,Sub-Saharan Africa,Lower middle income,1990,483.357394,12171441.0,0.420284,72.255252,2995.661116,51.760511,11.397808,48.909922
3,Albania,ALB,Europe & Central Asia,Upper middle income,1990,813.255696,3286542.0,1.678107,25.518088,2608.926433,552.252185,100.000000,28.788321
4,Andorra,AND,Europe & Central Asia,High income,1990,NaN,54509.0,7.467336,14.273550,NaN,NaN,100.000000,34.042553
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5420,Kosovo,XKX,Europe & Central Asia,Lower middle income,2014,1213.283566,1821800.0,NaN,21.461156,9170.181375,2804.369305,99.993134,NaN
5421,"Yemen, Rep.",YEM,Middle East & North Africa,Low income,2014,NaN,26246327.0,0.864835,0.974201,3968.106338,216.258831,66.100000,1.039832
5422,South Africa,ZAF,Sub-Saharan Africa,Upper middle income,2014,2695.733764,54539571.0,8.980119,16.588162,13051.828596,4198.401194,86.000000,7.617737
5423,Zambia,ZMB,Sub-Saharan Africa,Lower middle income,2014,NaN,15620974.0,0.288271,88.034037,3826.626899,707.190217,27.900000,65.647374
5424,Zimbabwe,ZWE,Sub-Saharan Africa,Low income,2014,NaN,15411675.0,0.779956,81.049292,2327.767495,536.995492,32.300000,37.157556

In [6]:
df_x.columns

Index(['Country Name', 'Country Code', 'Region', 'Income group', 'Year',
       'Energy use (kg of oil equivalents per capita)', 'Population',
       'CO2 emissions (metric tons per capita)',
       'Renewable energy consumption (% of energy)', 'GDP per capita, PPP',
       'Electric power consumption (kWh per capita)',
       'Access to electricity (% of population)', 'Forest area (% of land)'],
      dtype='object')

In [7]:
df_x.drop(columns=['Year',
       'Energy use (kg of oil equivalents per capita)', 'Population',
       'CO2 emissions (metric tons per capita)',
       'Renewable energy consumption (% of energy)', 'GDP per capita, PPP',
       'Electric power consumption (kWh per capita)',
       'Access to electricity (% of population)', 'Forest area (% of land)'], inplace = True)

In [8]:
merged_df = pd.merge(df_energy,df_x, how='inner', on='Country Name')
merged_df.head()

,Country Name,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),...,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude,Country Code,Region,Income group
0,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,NaN,NaN,NaN,60,652230.0,33.93911,67.709953,AFG,South Asia,Low income
1,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,NaN,NaN,NaN,60,652230.0,33.93911,67.709953,AFG,South Asia,Low income
2,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,NaN,NaN,NaN,60,652230.0,33.93911,67.709953,AFG,South Asia,Low income
3,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,NaN,NaN,NaN,60,652230.0,33.93911,67.709953,AFG,South Asia,Low income
4,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,NaN,NaN,NaN,60,652230.0,33.93911,67.709953,AFG,South Asia,Low income

In [9]:
def lower_case_column_names(df):
    df.columns = [i.lower() for i in df.columns]
    
    return df

In [10]:
merged_df = lower_case_column_names(merged_df)
merged_df.head()

,country name,year,access to electricity (% of population),access to clean fuels for cooking,renewable-electricity-generating-capacity-per-capita,financial flows to developing countries (us $),renewable energy share in the total final energy consumption (%),electricity from fossil fuels (twh),electricity from nuclear (twh),electricity from renewables (twh),...,renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,density\n(p/km2),land area(km2),latitude,longitude,country code,region,income group
0,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,NaN,NaN,NaN,60,652230.0,33.93911,67.709953,AFG,South Asia,Low income
1,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,NaN,NaN,NaN,60,652230.0,33.93911,67.709953,AFG,South Asia,Low income
2,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,NaN,NaN,NaN,60,652230.0,33.93911,67.709953,AFG,South Asia,Low income
3,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,NaN,NaN,NaN,60,652230.0,33.93911,67.709953,AFG,South Asia,Low income
4,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,NaN,NaN,NaN,60,652230.0,33.93911,67.709953,AFG,South Asia,Low income

In [11]:
def rename_columns(df):
    df.rename(columns={'country name':'country'}, inplace=True)
    df.columns = [i.replace(" ", "_") for i in df.columns]
    return df

In [12]:
merged_df = rename_columns(merged_df)
merged_df

,country,year,access_to_electricity_(%_of_population),access_to_clean_fuels_for_cooking,renewable-electricity-generating-capacity-per-capita,financial_flows_to_developing_countries_(us_$),renewable_energy_share_in_the_total_final_energy_consumption_(%),electricity_from_fossil_fuels_(twh),electricity_from_nuclear_(twh),electricity_from_renewables_(twh),...,renewables_(%_equivalent_primary_energy),gdp_growth,gdp_per_capita,density\n(p/km2),land_area(km2),latitude,longitude,country_code,region,income_group
0,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,NaN,NaN,NaN,60,652230.0,33.939110,67.709953,AFG,South Asia,Low income
1,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,NaN,NaN,NaN,60,652230.0,33.939110,67.709953,AFG,South Asia,Low income
2,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,NaN,NaN,NaN,60,652230.0,33.939110,67.709953,AFG,South Asia,Low income
3,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,NaN,NaN,NaN,60,652230.0,33.939110,67.709953,AFG,South Asia,Low income
4,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,NaN,NaN,NaN,60,652230.0,33.939110,67.709953,AFG,South Asia,Low income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85420,Zimbabwe,2020,52.747670,30.4,80.61,30000.0,81.90,3.40,0.0,4.19,...,NaN,-6.248748,1214.50982,38,390757.0,-19.015438,29.154857,ZWE,Sub-Saharan Africa,Low income
85421,Zimbabwe,2020,52.747670,30.4,80.61,30000.0,81.90,3.40,0.0,4.19,...,NaN,-6.248748,1214.50982,38,390757.0,-19.015438,29.154857,ZWE,Sub-Saharan Africa,Low income
85422,Zimbabwe,2020,52.747670,30.4,80.61,30000.0,81.90,3.40,0.0,4.19,...,NaN,-6.248748,1214.50982,38,390757.0,-19.015438,29.154857,ZWE,Sub-Saharan Africa,Low income
85423,Zimbabwe,2020,52.747670,30.4,80.61,30000.0,81.90,3.40,0.0,4.19,...,NaN,-6.248748,1214.50982,38,390757.0,-19.015438,29.154857,ZWE,Sub-Saharan Africa,Low income
85424,Zimbabwe,2020,52.747670,30.4,80.61,30000.0,81.90,3.40,0.0,4.19,...,NaN,-6.248748,1214.50982,38,390757.0,-19.015438,29.154857,ZWE,Sub-Saharan Africa,Low income

In [13]:
merged_df.drop_duplicates(inplace= True)
merged_df.reset_index(drop=True, inplace=True)
merged_df

,country,year,access_to_electricity_(%_of_population),access_to_clean_fuels_for_cooking,renewable-electricity-generating-capacity-per-capita,financial_flows_to_developing_countries_(us_$),renewable_energy_share_in_the_total_final_energy_consumption_(%),electricity_from_fossil_fuels_(twh),electricity_from_nuclear_(twh),electricity_from_renewables_(twh),...,renewables_(%_equivalent_primary_energy),gdp_growth,gdp_per_capita,density\n(p/km2),land_area(km2),latitude,longitude,country_code,region,income_group
0,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,NaN,NaN,NaN,60,652230.0,33.939110,67.709953,AFG,South Asia,Low income
1,Afghanistan,2001,4.074574,7.2,8.86,130000.0,45.60,0.09,0.0,0.50,...,NaN,NaN,NaN,60,652230.0,33.939110,67.709953,AFG,South Asia,Low income
2,Afghanistan,2002,9.409158,8.2,8.47,3950000.0,37.83,0.13,0.0,0.56,...,NaN,NaN,179.426579,60,652230.0,33.939110,67.709953,AFG,South Asia,Low income
3,Afghanistan,2003,14.738506,9.5,8.09,25970000.0,36.66,0.31,0.0,0.63,...,NaN,8.832278,190.683814,60,652230.0,33.939110,67.709953,AFG,South Asia,Low income
4,Afghanistan,2004,20.064968,10.9,7.75,NaN,44.24,0.33,0.0,0.56,...,NaN,1.414118,211.382074,60,652230.0,33.939110,67.709953,AFG,South Asia,Low income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3412,Zimbabwe,2016,42.561730,29.8,62.88,30000.0,81.90,3.50,0.0,3.32,...,NaN,0.755869,1464.588957,38,390757.0,-19.015438,29.154857,ZWE,Sub-Saharan Africa,Low income
3413,Zimbabwe,2017,44.178635,29.8,62.33,5570000.0,82.46,3.05,0.0,4.30,...,NaN,4.709492,1235.189032,38,390757.0,-19.015438,29.154857,ZWE,Sub-Saharan Africa,Low income
3414,Zimbabwe,2018,45.572647,29.9,82.53,10000.0,80.23,3.73,0.0,5.46,...,NaN,4.824211,1254.642265,38,390757.0,-19.015438,29.154857,ZWE,Sub-Saharan Africa,Low income
3415,Zimbabwe,2019,46.781475,30.1,81.40,250000.0,81.50,3.66,0.0,4.58,...,NaN,-6.144236,1316.740657,38,390757.0,-19.015438,29.154857,ZWE,Sub-Saharan Africa,Low income
3416,Zimbabwe,2020,52.747670,30.4,80.61,30000.0,81.90,3.40,0.0,4.19,...,NaN,-6.248748,1214.509820,38,390757.0,-19.015438,29.154857,ZWE,Sub-Saharan Africa,Low income

In [14]:
merged_df.to_csv('merged_df.csv')

In [15]:
nulls_df = pd.DataFrame(round(merged_df.isna().sum()/len(merged_df),4)*100)
nulls_df = nulls_df.reset_index()
nulls_df.columns = ['header_name', 'percent_nulls']
nulls_df

                                          header_name  percent_nulls
0                                             country           0.00
1                                                year           0.00
2             access_to_electricity_(%_of_population)           0.26
3                   access_to_clean_fuels_for_cooking           4.92
4   renewable-electricity-generating-capacity-per-...          26.02
5      financial_flows_to_developing_countries_(us_$)          56.54
6   renewable_energy_share_in_the_total_final_ener...           5.36
7                 electricity_from_fossil_fuels_(twh)           0.61
8                      electricity_from_nuclear_(twh)           3.69
9                   electricity_from_renewables_(twh)           0.61
10             low-carbon_electricity_(%_electricity)           1.23
11  primary_energy_consumption_per_capita_(kwh/per...           0.00
12  energy_intensity_level_of_primary_energy_(mj/$...           5.59
13                  value_co2_emissions_kt_by_country           6.32
14           renewables_(%_equivalent_primary_energy)          57.59
15                                         gdp_growth           2.49
16                                     gdp_per_capita           1.46
17                                   density\n(p/km2)           0.00
18                                     land_area(km2)           0.00
19                                           latitude           0.00
20                                          longitude           0.00
21                                       country_code           0.00
22                                             region           0.00
23                                       income_group           0.00

In [24]:
merged_df.country.value_counts()

Afghanistan      21
Latvia           21
Nepal            21
Netherlands      21
New Caledonia    21
                 ..
Ghana            21
Zimbabwe         21
Serbia           14
Montenegro       14
South Sudan       8
Name: country, Length: 164, dtype: int64

In [17]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3417 entries, 0 to 3416
Data columns (total 24 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   country                                                           3417 non-null   object
 1   year                                                              3417 non-null   int64
 2   access_to_electricity_(%_of_population)                           3408 non-null   float64
 3   access_to_clean_fuels_for_cooking                                 3249 non-null   float64
 4   renewable-electricity-generating-capacity-per-capita              2528 non-null   float64
 5   financial_flows_to_developing_countries_(us_$)                    1485 non-null   float64
 6   renewable_energy_share_in_the_total_final_energy_consumption_(%)  3234 non-null   float64
 7   electricity_from_fossil_fuels_(twh)                               3396 non-null   float64
 8   electricity_from_nuclear_(twh)                                    3291 non-null   float64
 9   electricity_from_renewables_(twh)                                 3396 non-null   float64
 10  low-carbon_electricity_(%_electricity)                            3375 non-null   float64
 11  primary_energy_consumption_per_capita_(kwh/person)                3417 non-null   float64
 12  energy_intensity_level_of_primary_energy_(mj/$2017_ppp_gdp)       3226 non-null   float64
 13  value_co2_emissions_kt_by_country                                 3201 non-null   float64
 14  renewables_(%_equivalent_primary_energy)                          1449 non-null   float64
 15  gdp_growth                                                        3332 non-null   float64
 16  gdp_per_capita                                                    3367 non-null   float64
 17  density\n(p/km2)                                                  3417 non-null   object
 18  land_area(km2)                                                    3417 non-null   float64
 19  latitude                                                          3417 non-null   float64
 20  longitude                                                         3417 non-null   float64
 21  country_code                                                      3417 non-null   object
 22  region                                                            3417 non-null   object
 23  income_group                                                      3417 non-null   object
dtypes: float64(18), int64(1), object(5)
memory usage: 640.8+ KB